* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    box-sizing: border-box;
  }
  
  
  
  a,
  a:visited,
  a:hover,
  a:active {
    text-decoration: none;
    color: inherit;
  }




  .buttons {
    display: flex;
    flex-direction: column;
    width: 120px;
    align-items: center;
    justify-content: center;

  }

  .button1, .button2 {
    border: solid 1px;
    margin: 20px;

  }